---
- name: Instalar e Configurar DNS e DHCP com Detecção Automática de Interface
  hosts: all
  become: true
  vars:
    bind_conf_dir: "/etc/bind"
    dhcp_conf_dir: "/etc/dhcp"
    dhcp_interface: "eth1"
  tasks:

     # instalando o dhcp e dns
    - name: Atualizar cache e instalar pacotes (BIND9 e DHCP)
      apt:
        name:
          - bind9
          - bind9utils
          - bind9-doc
          - isc-dhcp-server
        update_cache: yes
        state: present

    - name: Habilita o serviço do bind9 no boot.
      service:
        name: bind9
        enabled: yes
        state: started

    # Configuração do DNS (BIND9)
    - name: Copia arquivos de configuração do Bind9.
      copy:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        mode: 0664
      loop:
        - { src: "/playbooks/arq/named.conf.options", dest: "/etc/bind/named.conf.options" }
        - { src: "/playbooks/arq/named.conf.internal-zones", dest: "/etc/bind/named.conf.internal-zones" }
        - { src: "/playbooks/arq/evandi.hugo.devops.db", dest: "/etc/bind/evandi.hugo.devops.db" }
        - { src: "/playbooks/arq/56.168.192.db", dest: "/etc/bind/56.168.192.db" }
      notify: Reiniciar BIND9

    - name: Inclui zonas internas na configuração default do bind9.
      lineinfile:
        dest: "/etc/bind/named.conf"
        line: 'include "/etc/bind/named.conf.internal-zones";'
        state: present
      notify: Reiniciar BIND9

    # Configuração do DHCP
    - name: Copiar dhcpd.conf
      copy:
        src: playbooks/arq/dhcpd.conf
        dest: "{{ dhcp_conf_dir }}/dhcpd.conf"
        owner: root
        group: root
        mode: '0644'
      notify: Reiniciar DHCP

    - name: Configurar interface de escuta do DHCP (Automático)
      lineinfile:
        path: /etc/default/isc-dhcp-server
        regexp: '^INTERFACESv4='
        line: 'INTERFACESv4="{{ dhcp_interface }}"'
      notify: Reiniciar DHCP

    - name: Habilita e inicia o serviço do dhcp.
      service:
        name: isc-dhcp-server
        enabled: yes
        state: started

  handlers:
    - name: Reiniciar BIND9
      service:
        name: bind9
        state: restarted

    - name: Reiniciar DHCP
      service:
        name: isc-dhcp-server
        state: restarted
