---
- name: Instala e configura LVM com VG dados e LV ifpb
  hosts: all
  become: yes

  vars:
    lvm_disks:
      - /dev/sdb
      - /dev/sdc
      - /dev/sdd

  tasks:
    - name: Instalar o pacote LVM2 (necessário para gerenciar volumes)
      package:
        name: lvm2
        state: present

    - name: Criar partição LVM em cada disco
      ansible.builtin.parted:
        device: "{{ item }}"
        label: gpt
        number: 1
        state: present
        part_type: primary
        flags: [ lvm ]
      loop: "{{ lvm_disks }}"

    - name: Criar Physical Volumes (PV)
      community.general.lvm_pv:
        pvs: "{{ item }}1"
        state: present
      loop: "{{ lvm_disks }}"

    - name: Criar Volume Group (VG) dados
      community.general.lvg:
        vg: dados
        pvs: "{{ lvm_disks | map('regex_replace', '$', '1') | list }}"
        state: present

    - name: Criar Logical Volume ifpb
      community.general.lvol:
        vg: dados
        lv: ifpb
        size: 15g
        state: present

    - name: Criar sistema de arquivos ext4 no LV ifpb
      ansible.builtin.filesystem:
        fstype: ext4
        dev: /dev/dados/ifpb

    - name: Criar diretório de montagem /dados
      ansible.builtin.file:
        path: /dados
        state: directory
        mode: '0755'

    - name: Configurar montagem automática no fstab
      ansible.builtin.mount:
        path: /dados
        src: /dev/dados/ifpb
        fstype: ext4
        state: mounted
