---
- name: Configura Servidor de Banco de Dados e Autofs
  hosts: db
  become: yes

  vars:
    # Configurações do Banco de Dados
    db_package: mariadb-server
    nfs_server_host: "arq" 
    nfs_remote_path: "/dados/nfs"
    nfs_local_mount: "/var/nfs"

  tasks:

    # Instalação e Configuração do MariaDB
    - name: Instalar MariaDB Server
      ansible.builtin.apt:
        name: "{{ db_package }}"
        state: present
        update_cache: yes

    - name: MariaDB esteja rodando e habilitado
      ansible.builtin.service:
        name: mariadb
        state: started
        enabled: yes

    # Instalação e Configuração do Autofs
    - name: Instalar Autofs e dependências
      ansible.builtin.apt:
        name:
          - autofs
          - nfs-common  # Necessário para montar nfs
        state: present

    - name: Configurar o Master Map do Autofs
      # Adiciona a referência para o nosso arquivo de mapeamento direto
      ansible.builtin.lineinfile:
        path: /etc/auto.master
        line: "/- /etc/auto.nfs"
        state: present
      notify: Reiniciar Autofs

    - name: Criar o arquivo de mapeamento direto (auto.direct)
      # Define o mapeamento: /var/nfs - arq:/dados/nfs
      ansible.builtin.copy:
        dest: /etc/auto.nfs
        content: |
          {{ nfs_local_mount }} -fstype=nfs,rw,sync {{ nfs_server_host }}:{{ nfs_remote_path }}
        mode: '0644'
      notify: Reiniciar Autofs

  handlers:
    - name: Reiniciar Autofs
      ansible.builtin.service:
        name: autofs
        state: restarted
